html {
  font-family: var(--font-sans);
}

a[href],
a[href]:visited {
  text-decoration-color: transparent;
}

a[href]:hover {
  transition: all 0.2s ease-in-out;
  color: var(--text-1);
  text-decoration-color: var(--brand);
}

::selection {
  background-color: var(--palette-2);
  color: var(--text-1);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  font-weight: 700;
}
