html {
  font-family: var(--font-sans);
}

a[href],
a[href]:visited {
  text-decoration-color: transparent;
}

a[href]:hover {
  transition: all 0.2s ease-in-out;
  color: var(--text-1);
  text-decoration-color: var(--brand);
}

::selection {
  background-color: var(--palette-2);
  color: var(--text-1);
}

:target {
  scroll-margin-top: var(--size-10);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  font-weight: 600;
}

main > header {
  margin-bottom: var(--size-fluid-2);
}

section > header {
  color: var(--palette-8);
  font-size: var(--font-size-4);
  font-weight: bold;
  margin-bottom: var(--size-2);
  text-transform: uppercase;
}

h2.page-heading {
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    background-color: var(--palette-4);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    margin-left: -50%;
    right: var(--size-4);
  }

  &:after {
    left: var(--size-4);
    margin-right: -50%;
  }

  svg {
    height: var(--size-8);
    margin-top: -6px;
    stroke-width: 1;
    width: var(--size-8);
  }
}

.pill {
  background-color: var(--palette-2);
  border-radius: var(--radius-2);
  color: var(--text-2);
  cursor: pointer;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 3px var(--size-2) 0;
  text-transform: uppercase;
  transition: background-color 300ms ease;
}

.pill:hover,
.pill.active,
.pill.active:hover,
.pill.active:focus {
  background-color: var(--palette-4);
}

input,
select,
button {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid var(--palette-0);
  line-height: 1;
  position: relative;

  &::placeholder {
    opacity: 0.6;
  }

  &:focus {
    outline-color: var(--palette-3);
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: var(--font-size-6);
  }
  h2 {
    font-size: var(--font-size-4);
  }
}
