/* Global Styles */

@import "../../node_modules/open-props/open-props.min.css";
@import "../../node_modules/open-props/media.min.css";
@import "../../node_modules/open-props/normalize.light.min.css";

@import "baseline.css";
@import "variables.css";
@import "layout.css";
@import "main.css";
