html {
  --palette-0: #e7f3fb;
  --palette-1: #cfdbe4;
  --palette-2: #b7c3ce;
  --palette-3: #9facb8;
  --palette-4: #8896a3;
  --palette-5: #71808e;
  --palette-6: #5b6a7a;
  --palette-7: #455567;
  --palette-8: #2f4154;
  --palette-9: #1a2d41;

  --brand: var(--palette-9);
  --alt: rebeccapurple;
  --font-serif: "Montserrat", sans-serif;
  --font-sans: "Montserrat", sans-serif;
  --link: var(--brand);
  --link-visited: var(--brand);
  --wrap: 90vw;

  --custom-border: 1px;
}

@media (--lg-n-above) {
  html {
    --wrap: 80vw;
  }
}

@media (--xl-n-above) {
  html {
    --wrap: 70vw;
  }
}
