:root {
  --russian-green-0: #E7F3FB;
  --russian-green-1: #CFDBE4;
  --russian-green-2: #B7C3CE;
  --russian-green-3: #9FACB8;
  --russian-green-4: #8896A3;
  --russian-green-5: #71808E;
  --russian-green-6: #5B6A7A;
  --russian-green-7: #455567;
  --russian-green-8: #2F4154;
  --russian-green-9: #1A2D41;
}

html {
  --palette-0: var(--russian-green-0);
  --palette-1: var(--russian-green-1);
  --palette-2: var(--russian-green-2);
  --palette-3: var(--russian-green-3);
  --palette-4: var(--russian-green-4);
  --palette-5: var(--russian-green-5);
  --palette-6: var(--russian-green-6);
  --palette-7: var(--russian-green-7);
  --palette-8: var(--russian-green-8);
  --palette-9: var(--russian-green-9);

  --brand: var(--palette-9);
  --alt: rebeccapurple;
  --font-serif: "Montserrat", sans-serif;
  --font-sans: "Montserrat", sans-serif;
  --link: var(--brand);
  --link-visited: var(--brand);
  --wrap: 90vw;

  --custom-border: 255px 15px 225px 15px/15px 225px 15px 255px;
}

@media (--lg-n-above) {
  html {
    --wrap: 80vw;
  }
}

@media (--xl-n-above) {
  html {
    --wrap: 70vw;
  }
}
