html {
  --brand: var(--indigo-9);
  --font-serif: "Noto Serif", serif;
  --link: var(--brand);
  --link-visited: var(--brand);
  --wrap: 90vw;
}

@media (--lg-n-above) {
  html {
    --wrap: 70vw;
  }
}
