---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout bodyClass="map">
  <div id="map"></div>
  <script type="module" hoist>await import("./main-map.mjs");</script>
</BaseLayout>

<style>
  #map {
    height: 800px;
    border-radius: var(--radius-2);
  }
</style><style global>
  @import "leaflet/dist/leaflet.css";
  @import "../styles/leaflet-overrides.css";
</style>
