---
import BaseLayout from "../layouts/base.astro";
import "../../node_modules/simple-datatables/dist/style.css";
import "./trials-datatable.css"; // overrides for simple-datatables styles

import { records } from "../dataset.mjs";
---

<BaseLayout bodyClass="trials">
  <table id="trials">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name on Document</th>
        <th>Date (Y/M/D)</th>
        <th>Trial Location</th>
      </tr>
    </thead>
    <tbody>
      {records.map((record) => (
        <tr data-row-id={record.ID}>
          <td>
            <a href={Astro.site + "trials/" + record.ID}>{record.ID}</a>
          </td>
          <td>{record["Name on Document"]}</td>
          <td>{record["Date (Y/M/D)"]}</td>
          <td>{record["Trial Location"]}</td>
        </tr>
      ))}
    </tbody>
  </table>

  <script type="module" hoist>
    import { DataTable } from "simple-datatables";
    /* Row onClick event handlers are set up in vanilla JS here when
        the table is initialized and when the page changed.

       The cursor style is also set here since this is a progressive
        enhancement when Javascript is available (otherwise the row's
        not clickable).
    */
    const dataTable = new DataTable("#trials", {
      prevText: "⮜",
      nextText: "⮞",
    });
    dataTable.on("datatable.init", () => {
      dataTable.pages.forEach((page) => {
        page.forEach((row) => {
          row.style.cursor = "pointer";
          row.addEventListener(
            "click",
            () =>
              (window.location.href =
                `${document.baseURI}trials/` + row.dataset.rowId),
          );
        });
      });
    });
  </script>
</BaseLayout>

<style>
  tbody tr:hover {
    background-color: var(--palette-0);
  }
</style>
