.dataTable-selector {
  background-color: var(--palette-2);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
}

.dataTable-pagination a {
  color: var(--text-2);
  background-color: var(--palette-2);
  border-radius: var(--radius-2);
  margin: 0 0 var(--size-2) 0;
}

.dataTable-pagination li.pager a {
  padding: 6px 8px;
}

.dataTable-pagination li.pager a:hover svg {
  fill: currentColor;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: var(--palette-4);
  cursor: default;
}

.dataTable-pagination a:hover {
  background-color: var(--palette-4);
}

th {
  text-transform: uppercase;
}

/* Not sure why postcss-custom-media doesn't seem to be working here... */
/* @media (--md-n-below) { */
@media (max-width: 768px) {
  .trials main {
    width: 100vw;
  }
}
