---
import BaseLayout from "../layouts/base.astro";
import "../../node_modules/simple-datatables/dist/style.css";

import { records } from "../dataset.mjs";
---

<BaseLayout bodyClass="trials">
  <table id="trials">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name on Document</th>
        <th>Date (Y/M/D)</th>
        <th>Trial Location</th>
      </tr>
    </thead>
    <tbody>
      {records.map((record) => (
        <tr data-row-id={record.ID}>
          <td>
            <a href={"/trials/" + record.ID}>{record.ID}</a>
          </td>
          <td>{record["Name on Document"]}</td>
          <td>{record["Date (Y/M/D)"]}</td>
          <td>{record["Trial Location"]}</td>
        </tr>
      ))}
    </tbody>
  </table>

  <script type="module" hoist>
    import { DataTable } from "simple-datatables";
    /* Row onClick event handlers are set up in vanilla JS here when
        the table is initialized and when the page changed.

       The cursor style is also set here since this is a progressive
        enhancement when Javascript is available (otherwise the row's
        not clickable).
    */
    const dataTable = new DataTable("#trials");
    dataTable.on("datatable.init", () => {
      dataTable.pages.forEach((page) => {
        page.forEach((row) => {
          row.style.cursor = "pointer";
          row.addEventListener(
            "click",
            () => (window.location.href = "/trials/" + row.dataset.rowId),
          );
        });
      });
    });
  </script>
</BaseLayout>

<style>
  tbody tr:hover {
    background-color: var(--indigo-0);
  }
</style><style global>
  /* overrides for simple-datatables styles
     - must be global as these are generated classes
     - consider vendoring the stylesheet and editing by hand
  */
  .trials {
    .dataTable-selector {
      background-color: var(--indigo-2);
      border-radius: var(--radius-2);
      padding: var(--size-1) var(--size-2);
    }

    .dataTable-pagination a {
      color: #333;
      background-color: var(--indigo-2);
      border-radius: var(--radius-2);
    }

    .dataTable-pagination .active a,
    .dataTable-pagination .active a:focus,
    .dataTable-pagination .active a:hover {
      background-color: var(--indigo-4);
      cursor: default;
    }

    .dataTable-pagination a:hover {
      background-color: var(--indigo-4);
    }
  }

  /* Not sure why postcss-custom-media doesn't seem to be working here... */
  /* @media (--md-n-below) { */
  @media (max-width: 768px) {
    .trials main {
      width: 100vw;
    }
  }
</style>
