---
import Icon from "@components/Icon.astro";
---

<div id="scroll-to-top">
  <a href="#" aria-label="Scroll to Top" class="overlay-button">
    <Icon name="arrow-narrow-up" />
  </a>
</div>

<style>
  :global(body:not(.overflow) #scroll-to-top) {
    display: none;
  }

  #scroll-to-top {
    position: absolute;
    top: calc(100vh + 1em);
    right: max(1em, calc(((100vw - var(--wrap)) / 2) - 4em));
    bottom: -1em;
    pointer-events: none;

    a {
      align-items: center;
      background-color: var(--palette-4);
      border-radius: 50%;
      color: var(--palette-0);
      display: flex;
      font-size: 2rem;
      height: 3rem;
      justify-content: center;
      pointer-events: all;
      position: fixed; /* fallback for older browsers */
      position: sticky;
      top: calc(100vh - 4rem);
      transition: box-shadow 0.2s ease;
      width: 3rem;

      &:visited {
        color: var(--palette-0);
      }

      &:hover {
        color: var(--palette-0);
        box-shadow: 0px 0px 6px inset white;
      }
    }
  }
</style>
