---
import { documentMdToHtml } from "../../lib/markdown-parsing.mjs";

const dutch = await documentMdToHtml("src/documents/01_Dutch.md", "dutch");

const translation = await documentMdToHtml(
  "src/documents/01_Translation.md",
  "translation",
);
---

<section id="documents" class="md document">
  <header>
    <span data-doc="translation" class="active">Translation</span>
    <span data-doc="dutch">Dutch</span>
  </header>
  <div class="translation shown"><div set:html={translation}></div></div>
  <div class="dutch"><div set:html={dutch}></div></div>
</section>

<script>
  const panels = document.querySelectorAll(".document > div");
  const tabs: NodeListOf<HTMLElement> = document.querySelectorAll(
    ".document header span",
  );

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((_tab) => _tab.classList.remove("active"));
      panels.forEach((panel) => panel.classList.remove("shown"));
      tab.classList.add("active");
      document
        .querySelector(".document ." + tab.dataset.doc)
        .classList.add("shown");
    });
  });

  document
    .querySelectorAll("a[data-footnote-ref]")
    .forEach((anchor: HTMLAnchorElement) => {
      const id = anchor.href.split("#")[1];
      anchor.addEventListener("mouseover", () => {
        document.querySelector(`li#${id}`).classList.add("anchor-hovered");
      });
      anchor.addEventListener("mouseout", () => {
        document.querySelector(`li#${id}`).classList.remove("anchor-hovered");
      });
    });
</script>

<script type="module" hoist>
  await import("../glossary.mjs");
</script>

<style>
  .document {
    background-color: var(--palette-0);
    background-image: url("/paper.png");
    background-repeat: repeat;
    border: 5px solid var(--palette-3);
    border-radius: var(--custom-border);
    padding: var(--size-5) var(--size-10);
  }

  .document > div:not(.shown) {
    display: none;
  }

  .document header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--size-7);

    span {
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    span.active {
      border-bottom: 2px solid var(--palette-8);
      cursor: default;
      opacity: 1;
    }
  }

  .document :global(p) {
    font-family: var(--font-serif);
    font-size: var(--font-size-3);
  }
</style>
