<header role="banner">
  <h1>Trials of Slavery</h1>
</header>

<style>
  header {
    text-align: left;
    padding: var(--size-4) 0 0;
    width: 100%;
  }

  h1 {
    max-inline-size: var(--wrap);
    margin: 0 auto;
  }
</style>
