<header role="banner">
  <h1><a href={Astro.site.pathname}>Trials of Slavery</a></h1>
</header>

<style>
  header {
    text-align: left;
    padding: var(--size-4) 0 0;
    width: 100%;
  }

  h1 {
    max-inline-size: var(--wrap);
    margin: 0 auto;

    a:hover {
      text-decoration: none;
      color: var(--palette-7);
    }
  }
</style>
