---
import config from "@/astro.config.mjs";
import Nav from "@components/Nav.astro";

const base = config.base || "/";
---

<header role="banner">
  <h1><a href={base}>Trials of Slavery</a></h1>
  <Nav />
</header>

<style>
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-1);
    justify-content: space-between;
    padding: var(--size-4) 0 0;
    text-align: center;
    width: var(--wrap);
  }

  h1 {
    white-space: nowrap;
    width: max-content;

    a:hover {
      color: var(--palette-7);
      text-decoration: none;
    }
  }

  @media (min-width: 800px) {
    header {
      flex-direction: row;
      text-align: left;
    }
  }
</style>
