---
import Icon from "@components/Icon.astro";
let { title, firstSection, lastSection } = Astro.props;
---

<article id={title}>
  <div class="lp-content">
    <header>
      <h2 class="page-heading" set:text={title} />
    </header>
    <slot />
  </div>

  <div class="buttons">
    <a
      href="#"
      aria-label="Scroll to Next Section"
      class="overlay-button next"
      data-disabled={lastSection}
    >
      <Icon name="arrow-narrow-down" />
    </a>

    <a
      href="#"
      aria-label="Scroll to Previous Section"
      class="overlay-button previous"
      data-disabled={firstSection}
    >
      <Icon name="arrow-narrow-up" />
    </a>
  </div>
</article>

<style lang="postcss">
  article {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-4);
    margin-top: var(--size-fluid-4);
    min-height: 100%;
    padding-bottom: 8rem;
    position: relative;
    scroll-margin-top: var(--size-fluid-4);
    scroll-snap-align: start;
    justify-content: space-between;

  }

  div.lp-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    margin-inline: var(--size-fluid-3);
    flex-grow: 1;
    /* justify-content: center; */

    
    header { margin-bottom: var(--size-4); }
    
    :global(p), :global(ul), {
      font-size: var(--font-size-fluid-1);
      line-height: var(--font-lineheight-3);
      margin-inline: var(--size-fluid-3);
    }

    > :global(p), > :global(ul) {
      &:last-child {
        margin-bottom: var(--size-8);
      }
    }

    h2 {
      background-color: var(--palette-0);
      background-image: url(/src/img/paper.png);
      background-repeat: repeat;
      border: 5px solid var(--palette-3);
      border-radius: var(--custom-border);
      padding: var(--size-5) var(--size-8);

      &::before, &::after {
        display: none;
      }
    }
  }

  div.buttons {
    display: flex;
    justify-content: center;
    gap: var(--size-6);
  }

    a {
      align-items: center;
      background-color: var(--palette-4);
      border-radius: 50%;
      color: var(--palette-0);
      display: flex;
      font-size: 2rem;
      height: 3rem;
      justify-content: center;
      pointer-events: all;
      transition: box-shadow 0.2s ease;
      width: 3rem;

      &:visited {
        color: var(--palette-0);
      }

      &:hover {
        color: var(--palette-0);
        box-shadow: 0px 0px 6px inset white;
      }

      &.next:last-child {
        transform: translateX(0);
      }

      &[data-disabled] {
        visibility: hidden;
      }
    }
</style>
