---
const { record } = Astro.props;
---

<section id="details">
  <header>Details</header>
  <dl>
    {Object.entries(record)
        .filter(([key, value]) => typeof value === 'string')
        .map(([key, value]) => (
          <dt>{key}</dt><dd>{value}</dd>
        ))}
  </dl>
</section>

<style>
  dl {
    border-radius: var(--radius-2);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
  }

  dt,
  dd {
    padding: var(--size-1) var(--size-4);
    margin: 0;
  }

  dt {
    background: var(--palette-2);
    border-radius: var(--radius-2);
    flex-basis: max(25%, 200px);
    text-align: left;

    &::selection {
      background-color: var(--palette-0);
    }
  }

  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin-bottom: var(--size-2);
  }

  /* Not sure why postcss-custom-media doesn't seem to be working here... */
  /* @media (--md-n-above) { */
  @media (min-width: 768px) {
    dl {
      flex-flow: row wrap;
    }

    dt,
    dd {
      padding: var(--size-2) var(--size-4);
    }

    dt ~ dt,
    dd ~ dd {
      border-top: 1px solid var(--palette-9);
    }

    dt {
      border-radius: 0;
      text-align: right;
    }

    dd {
      margin-bottom: 0;
    }
  }
</style>
