<nav>
  <ul>
    <li
      class={Astro.canonicalURL.pathname === Astro.site.pathname
        ? "active"
        : null}
    >
      <a
        href={Astro.canonicalURL.pathname === Astro.site.pathname
          ? null
          : Astro.site.pathname}>Home</a
      >
    </li>
    <li
      class={Astro.canonicalURL.pathname === Astro.site.pathname + "trials/"
        ? "active"
        : null}
    >
      <a
        href={Astro.canonicalURL.pathname === Astro.site.pathname + "trials/"
          ? null
          : Astro.site.pathname + "trials/"}>Trials</a
      >
    </li>
    <li
      class={Astro.canonicalURL.pathname === Astro.site.pathname + "map/"
        ? "active"
        : null}
    >
      <a
        href={Astro.canonicalURL.pathname === Astro.site.pathname + "map/"
          ? null
          : Astro.site.pathname + "map/"}>Map</a
      >
    </li>
  </ul>
</nav>

<style>
  nav {
    text-align: right;
  }

  ul {
    display: flex;
    gap: var(--size-fluid-3);
    justify-content: flex-end;
    max-inline-size: var(--wrap);
    padding: 0;
  }

  li {
    border-radius: var(--radius-2);
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &.active {
      background-color: transparent;
      color: var(--palette-4);
    }

    &:hover {
      background-color: var(--palette-0);
    }
  }
</style>
