---
import config from "@/astro.config.mjs";
import Icon from "@components/Icon.astro";

const pathname = Astro.url.pathname;
const base = config.base || "/";
---

<nav>
  <a
    class={pathname === base ? "active" : null}
    href={pathname === base ? null : base}
    ><Icon name="home" className="home-icon" />Home
  </a>
  <a
    class={pathname === base + "trials/" ? "active" : null}
    href={pathname === base + "trials/" ? null : base + "trials/"}
    ><Icon name="scales" />Trials
  </a>
  <a
    class={pathname === base + "map/" ? "active" : null}
    href={pathname === base + "map/" ? null : base + "map/"}
    ><Icon name="map" />Map
  </a>
  <a
    class={pathname === base + "glossary/" ? "active" : null}
    href={pathname === base + "glossary/" ? null : base + "glossary/"}
    ><Icon name="book" />Glossary
  </a>
  <a
    class={pathname === base + "bibliography/" ? "active" : null}
    href={pathname === base + "bibliography/" ? null : base + "bibliography/"}
    ><Icon name="books" />Bibliography
  </a>
</nav>

<style>
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-1) var(--size-3);
    justify-content: center;
    max-inline-size: var(--wrap);
    padding: 0;
  }

  a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: max-content;

    &.active {
      background-color: transparent;
      color: var(--palette-4);
    }

    &:not(.active):hover {
      background-color: var(--palette-0);
    }

    :global(svg) {
      height: 1.2rem;
      margin-top: -2px;
      width: 1.2rem;
    }

    :global(svg.home-icon) {
      margin-top: -5px;
    }
  }

  @media (min-width: 800px) {
    nav {
      justify-content: flex-end;
    }
  }
</style>
