---
import Icon from "./Icon.astro";
---

<nav>
  <a
    class={Astro.canonicalURL.pathname === Astro.site.pathname
      ? "active"
      : null}
    href={Astro.canonicalURL.pathname === Astro.site.pathname
      ? null
      : Astro.site.pathname}><Icon name="home" className="home-icon" />Home</a
  >
  <a
    class={Astro.canonicalURL.pathname === Astro.site.pathname + "trials/"
      ? "active"
      : null}
    href={Astro.canonicalURL.pathname === Astro.site.pathname + "trials/"
      ? null
      : Astro.site.pathname + "trials/"}><Icon name="scales" />Trials</a
  >
  <a
    class={Astro.canonicalURL.pathname === Astro.site.pathname + "map/"
      ? "active"
      : null}
    href={Astro.canonicalURL.pathname === Astro.site.pathname + "map/"
      ? null
      : Astro.site.pathname + "map/"}><Icon name="map" />Map</a
  >
</nav>

<style>
  nav {
    display: flex;
    gap: var(--size-3);
    justify-content: flex-end;
    max-inline-size: var(--wrap);
    padding: 0;
  }

  a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: max-content;

    &.active {
      background-color: transparent;
      color: var(--palette-4);
    }

    &:not(.active):hover {
      background-color: var(--palette-0);
    }

    :global(svg) {
      height: 1.2rem;
      margin-top: -2px;
      width: 1.2rem;
    }

    :global(svg.home-icon) {
      margin-top: -5px;
    }
  }
</style>
