<nav>
  <input type="checkbox" id="show-nav" />
  <label for="show-nav">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </label>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/trials">Trials</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    margin: 0 auto;
    text-align: right;
    width: var(--wrap);
  }

  ul {
    display: none;
    margin: 0 auto;
    max-inline-size: var(--wrap);
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }

  #show-nav {
    display: none;
  }

  #show-nav:checked ~ ul {
    display: block;
  }

  label[for="show-nav"] {
    cursor: pointer;
    display: inline-block;
    width: 22px;

    span {
      background-color: var(--brand);
      box-sizing: border-box;
      float: left;
      height: 3px;
      position: relative;
      transition: all 0.3s;
      user-select: none;
      width: 100%;
    }

    span:not(:first-child) {
      margin-top: 3px;
    }
  }

  #show-nav:checked ~ label[for="show-nav"] {
    span:nth-child(1) {
      margin-top: 8px;
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      margin-top: -9px;
      transform: rotate(-135deg);
    }
  }

  /* Not sure why postcss-custom-media doesn't seem to be working here... @media (--sm-n-above) { */
  @media (min-width: 480px) {
    label[for="show-nav"] {
      display: none;
    }

    ul {
      display: block;
    }

    li {
      display: inline-block;
      margin-left: var(--size-fluid-2);
    }
  }
</style>
