---
import { documentMdToHtml } from "../../lib/markdown-parsing.mjs";
const summary = await documentMdToHtml(
  "src/documents/01_Summary.md",
  "summary",
);
---

<section id="summary" class="md summary">
  <header>Summary</header>
  <div set:html={summary}></div>
</section>

<style>
  .summary {
    background-color: var(--palette-0);
    border-radius: var(--radius-2);
    padding: var(--size-4) var(--size-5);
  }
</style>
