---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import "@fontsource/martel/400.css";
import "@fontsource/martel/600.css";
import "@fontsource/martel-sans";

import "@styles/styles.css";

let { bodyClass } = Astro.props;
---

<html lang="en" class="nojs">
  <Head title="Home" />
  <body class={bodyClass}>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
